export(cluster.molecule)
export(comp.2.cc.fdr)
export(compcorr)
export(cor.dist)
export(cor2.test)
export(generate_g)
export(get.eigen.molecule)
export(get.eigen.molecule.graph)
export(get.lfdr)
export(get.min.max)
export(plot.DiffCorr.group)
export(plot.cluster.molecules)
export(scalingMethods)
export(uncent.cor2dist)
export(uncent.cordist)
export(write.modules)
